body{
    margin:0;
    font-family:Segoe UI;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
}

.nav{
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    background:rgba(0,0,0,0.3);
}

.menu a{
    margin-left:20px;
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:60vh;
    text-align:center;
}

button{
    padding:10px 20px;
    border:none;
    background:white;
    color:#333;
    border-radius:20px;
    margin-top:15px;
}

.services{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}

.box{
    background:white;
    color:black;
    padding:20px;
    width:200px;
    border-radius:12px;
    text-align:center;
}

.footer{
    text-align:center;
    padding:15px;
    background:rgba(0,0,0,0.3);
}
