body{
    margin:0;
    font-family:Segoe UI;
    background:#0f172a;
    color:white;
}

.header{
    text-align:center;
    padding:60px;
    background:linear-gradient(to right,#3b82f6,#06b6d4);
}

section{
    padding:40px;
    max-width:1000px;
    margin:auto;
}

h2{
    border-bottom:2px solid #06b6d4;
    padding-bottom:10px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-top:20px;
}

.skills span{
    background:#1e293b;
    padding:8px 15px;
    border-radius:20px;
}

.projects{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    flex:1 1 250px;
}

.contact{
    background:#020617;
}

footer{
    text-align:center;
    padding:20px;
    background:black;
}
